h1{
    color: aquamarine;
    /* text-align:center; */
}
body{
    background-color: black;
}
hr{
   padding-top:10px; 
   background-color:greenyellow;
}

h3{
    color:red;
    padding:30px;
}

img{
    
    padding:100px;
    height:200px;
    width:350px;
}
div{
align-content: center;
}